body {
    background-color: aquamarine;
}

.main-content {
    max-width: 1440px;
    margin: 0 auto;
}

.section-intro {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.section-intro__headline {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}




.section-gameUI__grid {
    display: flex;
    flex-wrap: wrap;
    width: 408px;
    border: 2px solid black;
}

.section-gameUI__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 606px;
    height: 606px;
    background-color: white;
    border: 1px solid black;
}
.square {
    width: 200px;
    height: 200px;
    border: 1px solid black;
}

.startButton {
    margin: 10px;
    width: 90px;
    height: 30px;
    background: none;
    border-radius: 6px;
    font-weight: bold;
}

.mole {
    background-image: url(./assets/mole.jpg);
    background-size: cover;
}